footer
{
    background-color: gray;
    height: 400px;
    text-align: center;
}
.fc
{
    text-align: center;
    
}
.icn
{
    border: 2px;
    
    margin: 5px 40%;
}
.icnbtn
{
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 1px gray solid;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.icnimg
{
    height: 50px;
    width: 50px;
    border: 1px white solid;
    border-radius: 50%;
}
